@import '../../../node_modules/@angular/material/_theming.scss';
// default color is 500

:root {
  --primary-50: #0099f9;
  --primary-100: #008ae0;
  --primary-200: #007ac6;
  --primary-300: #006aad;
  --primary-400: #005b93;
  --primary-500: #004b7a;
  --primary-600: #003b60;
  --primary-700: #002c47;
  --primary-800: #001c2d;
  --primary-900: #000c14;
  --primary-A100: #14a4ff;
  --primary-A200: #2daeff;
  --primary-A400: #47b8ff;
  --primary-A700: #000000;
  --primary-50-contrast: $black-87-opacity;
  --primary-100-contrast: $black-87-opacity;
  --primary-200-contrast: $black-87-opacity;
  --primary-300-contrast: $black-87-opacity;
  --primary-400-contrast: $black-87-opacity;
  --primary-500-contrast: white;
  --primary-600-contrast: white;
  --primary-700-contrast: white;
  --primary-800-contrast: $white-87-opacity;
  --primary-900-contrast: $white-87-opacity;
  --primary-A100-contrast: $black-87-opacity;
  --primary-A200-contrast: white;
  --primary-A400-contrast: white;
  --primary-A700-contrast: white;
  --min-width: 1px;
}

$bicm-blue: (
  50: var(--primary-50),
  100: var(--primary-100),
  200: var(--primary-200),
  300: var(--primary-300),
  400: var(--primary-400),
  500: var(--primary-500),
  600: var(--primary-600),
  700: var(--primary-700),
  800: var(--primary-800),
  900: var(--primary-900),
  A100: var(--primary-A100),
  A200: var(--primary-A200),
  A400: var(--primary-A400),
  A700: var(--primary-A700),
  contrast: (
    50: var(--primary-50-contrast),
    100: var(--primary-100-contrast),
    200: var(--primary-200-contrast),
    300: var(--primary-300-contrast),
    400: var(--primary-400-contrast),
    500: var(--primary-500-contrast),
    600: var(--primary-600-contrast),
    700: var(--primary-700-contrast),
    800: var(--primary-800-contrast),
    900: var(--primary-900-contrast),
    A100: var(--primary-A100-contrast),
    A200: var(--primary-A200-contrast),
    A400: var(--primary-A400-contrast),
    A700: var(--primary-A700-contrast)
  )
);

$bicm-blue-light: (
  50: #89b3ce,
  100: #77a8c6,
  200: #659cbf,
  300: #5291b7,
  400: #4684aa,
  500: #3f7698,
  600: #386886,
  700: #305a74,
  800: #294c62,
  900: #213e50,
  A100: #9bbfd5,
  A200: #adcadd,
  A400: #bfd6e4,
  A700: #1a303e,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$bicm-green: (
  50: #add799,
  100: #9fd087,
  200: #90c975,
  300: #81c163,
  400: #73ba50,
  500: #66ad44,
  600: #5b9b3d,
  700: #508836,
  800: #46762e,
  900: #3b6427,
  A100: #bcdeac,
  A200: #cbe5be,
  A400: #d9edd0,
  A700: #305120,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);
